 
<div class="card">
  <h2>Veículos</h2>
  <a class="btn" href="/veiculos/new">Novo Veículo</a>
  <table class="table"><thead><tr><th>Placa</th><th>Modelo</th><th>Ano</th><th>kmAtual</th><th>Ações</th></tr></thead><tbody>
    <% veiculos.forEach(v=>{ %>
      <tr><td><%= v.placa %></td><td><%= v.modelo %></td><td><%= v.ano %></td><td><%= v.kmAtual %></td><td><a href="/veiculos/<%= v._id %>/edit">Editar</a></td></tr>
    <% }) %>
  </tbody></table>
</div>
